* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* BASE LAYOUT  */

.main-container {
    width: 100%;
}

#top {
    height: calc(100vh - 75px);
}

.top-content { 
    display: flex;
    height: 100%;
}

.main-content {
    width: calc(100vw - 50px);
    background-color: rgb(21, 25, 33);
    overflow-y: auto;
}

.music {
    margin-top: 75px;
}


.playlist-cover {
    width: 100%;
}
.playlist-name {
    width: 100%;
}
.playlist-artist {
    width: 100%;
}
/* HEADER  */
header {
    position:fixed; 
    background-color: rgba(0,0,0,0.5); 
    height: 75px; 
    width: calc(100vw - 50px);
    z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    align-items: center;
}

.upgrade-button button {
    text-transform: uppercase;
    background-color: black;
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid #fff;
}
.upgrade-button button:hover {
    transform: scale(1.05);
}

/* SIDEBAR  */
#sidebar {
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
}

.sidebar-content {
    height: 100%;
    width: 100%;
    align-content: space-between;
    padding: 5px 5px;
}
.sidebar-content .row {
    flex-direction: column;
}

.sidebar-icon {
    filter: invert(0.5);
    width: 25px;
}
.logo {
    width: 70%;
}
ul.bold-grey li:first-child{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
ul.bold-grey li:first-child::before{
    content: "+";
    padding: 3px 9px;
    margin-right: 5px;
    font-size: 1.4rem;
    background-color: rgb(163,163,163);
    color: black;
}
ul.bold-grey li:hover::before {
    background-color: #fff;
}

.download-icon {
    width: 12px;
    filter: invert(0.5);
}

.propic {
    width: 20px;
    background-color: gray;
    clip-path: circle();
    padding: 2px;
}
.playlist {
    height: 40vh;
    overflow-y: auto;
    font-size: 0.7rem;
    font-weight: 700;
}
.playlist ul li {
    margin-top: 15px;
}
.sidebar-content .col-100:hover, 
.sidebar-content li:hover {
    color: #fff;
    cursor: pointer;
}

.sidebar-content .col-100:hover .sidebar-icon,
.sidebar-content .col-100:hover .download-icon{
    filter: invert(0);
    cursor: pointer;
}

/* MUSIC SECTION  */
.music a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.playlist-cover {
    position: relative;
}
.overlay {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0,0,0,0.5);
    top:0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}
.overlay .fa-circle-play {
    font-size: 3rem;
}

.playlist-cover:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-cover img {
    width: 100%;
}
.playlist-artist {
    font-size: 0.8rem;
}
.circle {
    clip-path: circle();
}
h2 {
    color: #fff;
    margin-left: 5px;
}

h6  {
    margin-left: 5px;
    margin-top: 5px
}
.music a:hover {
    color: #fff;
}




/* PLAYER  */
#player {
    height: 75px;
    background-color: rgb(40,40,40);
    position: fixed;
    width: 100%;
}

.cover-sm {
    width: 30px;
    margin: 10px 0;
    margin-top: 15px;
}

.cover-sm img {
    width: 100%;
}

.title-1 {
    display: block;
}
.title:hover span{
    color: #fff;
}
.title:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.save-track i:hover {
    color: #fff;
    cursor: pointer;
}

.track {
    font-size: 0.6rem;
    margin: auto 5px;
}

.fa-circle-play {
    font-size: 1.6rem;
    margin: 0 5px;
}

.time {
    font-size: 0.5rem;
    margin-top: 15px;
}

.time span {
    display: inline;
}

.progress-bar {
    width: 80%;
    background-color: #323232;
    display: inline-block;
    border-radius: 10px;
}

.progress {
    width: 25%;
    border: 3px solid #ccc;
    border-radius: 10px;
    position: relative;
}
.volum-bar:hover, .progress-bar:hover {
    cursor: pointer;
}
.volum-bar:hover .volum,
.progress-bar:hover .progress{
    border: 3px solid rgb(203,241,120);
}

.progress-bar:hover .slider-progress {
    display: block;
    cursor: pointer;
}
.volum-bar:hover .volum-slider {
    display: block;
    cursor: pointer;
}

.volum-bar {
    width: 100px;
    background-color: #323232;
    display: inline-block;
    border-radius: 10px;
}

.volum {
    width: 25%;
    border: 3px solid #ccc;
    border-radius: 10px;
    position: relative;
}
.volum-slider {
    display: none;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    padding: 8px;
    bottom: -8px;
left: 10px;
}

.slider-progress {
    display: none;
    background-color: #fff;
    position: absolute;
    right: -5px;
    top: -8px;
    border-radius: 50%;
    padding: 8px;
}
.console span {
    margin: 0 5px
} 
.console span:hover {
    cursor: pointer;
}
.console .fa-circle-play:hover {
    transform: scale(1.1);
}

/* COMMON */
.height100 {
    height: 100%;
}
.row {
    display: flex;
    width: 100%;
}

nav li {
    margin: 10px;
}

.container {
    padding: 10px;
}

nav ul {
    list-style: none;
}

.hidden {
    display: none;
}

/* UTILITIES  */
.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.d-none {
    display: none;
}
.wrap {
    flex-wrap: wrap;
    
}
.justify-end {
    justify-content: end;
}
.justify-cen {
    justify-content: center;
}
.align-cen {
    align-items: center;
}
.m-1 {
    margin: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.m-x-1 {
    margin: 0 10px;
}
.m-x-15 {
    margin: 0 15px;
}
.m-x-2 {
    margin: 0 20px;
}
.m-y-1 {
    margin: 10px 0;
}
.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
.p-3 {
    padding: 30px;
}
.bold-white {
    color: #fff;
    font-weight: 800;
}
.bold-grey{
    color: rgb(119,122,126);
    font-weight: 800;
}


/* COLUMN */
.col-100 {
    width: 100%;
}
.col-50 {
    width: calc(50% - 10px);
    margin: 5px;
}
.col-33 {
    margin: 5px 10px;
    width: calc(100% / 3 - 20px);
}

/* MEDIA QUERIES  */

/* SMALL SCREEN  */
@media screen and (min-width: 576px) {
    #sidebar {
        width: 300px;
        color: rgb(119,122,126);}
    .sidebar-content {
        padding: 5px 20px;
        text-align: left;
    }
    .show {
        display: none;
    }
    .hidden {
        display: block;
    }
    header {
        width: calc(100vw - 210px)
    }
    .sidebar-content .justify-cen {
        justify-content: left;
    }
    .sidebar-content span {
        display: inline;
        font-size: 0.7rem;
        font-weight: 700;
        margin-left: 5px;
    }
    .bottom-border {
        border-bottom: 1px solid rgb(119,122,126);
    }
    .title-1 {
        display: inline;
    }


}

/* MEDIUM SCREEN  */
@media screen and (min-width: 768px) {
    header {
        width: calc(100vw - 230px)
    }
    .col-50 {
        width: calc(100% / 4 - 10px);
    }
    span.d-block {
        display: inline;
    }
    span.autor {
        display: block;
    }
    .save-track {
        margin: 0 20px
    }
    .save-track span {
        margin-right: 10px;
    }
}

/* LARGE SCREEN  */
@media screen and (min-width: 991px) {
    header {
        width: calc(100vw - 260px)
    }
    .col-50 {
        width: calc(100% / 6 - 10px);
    }
}

